<div class="container-child3">
    <div class="user-title">User</div>
<!------------------------------------nav------------------------------------->
    <nav class="nav1">
        <button class="userBTN" type="button"(click)="navigateTo('add-user')" > + USER </button>
        <img class="grid-view-icon2" alt="" src="./assets/grid-view@2x.png">
        <img class="list-alt-icon1" alt="" (click)="navigateTo('user')"  src="./assets/list-alt@2x.png">
        <input type="text" id="myInput" onkeyup="myFunction()" placeholder="🔍 Search for names..">
    </nav>
