<div class="container-child2">
  <div class="add-user-title">Add User</div>

  <form [formGroup]="userForm">
    <!-- First-name -->
    <div class="first-name">First Name</div>
    <input class="first-input" type="text" formControlName="first_name" required>

    <!-- Last-name -->
    <div class="last-name">Last Name</div>
    <input class="last-input" type="text" formControlName="last_name" required>

    <!-- Role -->
    <div class="role">Role</div>
    <input class="role-input" type="text" formControlName="role" required>

    <!-- Department -->
    <div class="department">Department</div>
    <input class="department-input" type="text" formControlName="department" required>

    <!-- Phone Number -->
    <div class="phone-number">Phone Number</div>
    <input class="phone-number-input" type="number" formControlName="phone">

    <!-- Email -->
    <div class="email">Email</div>
    <input class="email-input" type="email" name="Email" formControlName="email" required>

    <!-- Password -->
    <label for="password" class="password">Password</label>
    <input class="password-input" type="password" id="password" name="password" minlength="8" required />

    <!-- Confirm-password -->
    <label for="confirm_password" class="confirm-password">Confirm Password</label>
    <input class="confirm-password-input" type="password" id="confirm_password" name="confirm_password" minlength="8"
      required />

    <!-- Address -->
    <div class="address">Address</div>
    <input class="address-input" name="Message">

  </form>

  <div>
    <button class="create" type="button" (click)="addItem()">Create</button>
    <button class="cancel" type="button" (click)="reset()">Cancel</button>
    <mat-slide-toggle class="toogle">Status!</mat-slide-toggle>
  </div>

</div>