*{
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family:Poppins;
}
.container{
    background-color: var(--color-whitesmoke-200);
    /* width: 100%;
    height: 100%; */
    font-size: var(--font-size-lg);
}
.navbar{
    margin: 72px 0px 0px 0px;
    background-color: #fff;
}
.vector-icon5{
    width: 31px;
    object-fit: cover;
    position: absolute;
    top: 21px;
    left: 1081px;
}
.image-11-icon2{
    width: 3%;
    object-fit: cover;
    position: absolute;
    top: 13px;
    left: 1129px;
}
.location{
    font-size: large;
    position: absolute;
    top: 16px;
    left: 1189px;
    width: 312px;
    height: 44px;
    border-radius: var(--br-3xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-lightgray-100);
}
.wrapper{
    display: flex;
    position: relative;   
}
.wrapper .sidebar {
    height: 858px;
    width: 261px;
    background: #fff;
    padding: 30px 0;
    
}
.wrapper .sidebar ul li{
    padding: 15px;
    /* border-bottom: 1px solid rgba(0,0,0,0.05);
    border-top: 11px solid rgba(225,225,225,0.05); */
}
.wrapper .sidebar ul li a{
    color: #1a1a1b;
    display: block;
}
.wrapper .sidebar ul li:hover{
    background:#cbcbcb;
}
.wrapper .sidebar ul li:hover a{
    color: #fff;
}
.logo{
  top: 52px;
  left: 17px;
  width: 216px;
  height: 57.8px;
  object-fit: cover;
  cursor: pointer;
}